<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  
  </head>
  <body>
    <div id="id54a09244327dd" a='{"t":"r","v":"1.2","lang":"en","locs":[141],"ssot":"c","sics":"ds","cbkg":"#1976D2","cfnt":"#FFFFFF","codd":"#1E88E5","cont":"#E0E0E0"}'>Weather Data Source: <a href="https://sharpweather.com/weather_tunis/30_days/">Tunis 30 days weather</a></div><script async src="https://static1.sharpweather.com/widgetjs/?id=id54a09244327dd"></script>
  </body>
</html>
